/* Theme CSS                   */

#top {
    color: #665;
    padding: 10px 30px;
    text-align: center;
}

h1 a,
h1 a:visited {
    color: #665;
    text-decoration: none;
}

h1 a:hover {
    color: #444;
}

a
{ 
    color: #0489B7;
}

#page{
    width: 70%;
    margin: 0 auto;
}

.menu-item{
    margin-bottom: 2em;
    padding: 30px;
    padding-top: 0px;
    background: #FFF;
    border: 1px solid #DDD;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

.article{
    margin-bottom: 2em;
    padding: 30px;
    padding-top: 0px;
	text-align: justify;
    background: #FFF;
    border: 1px solid #DDD;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

.article-title,
.article-title a{
    text-decoration: none;
}

.article-info{
    margin: 0 0 1em 0;
    color: #999;
}

.article-content {
    font-family: Cantarell,'Droid Sans',Ubuntu,'DejaVu Sans',Arial,sans-serif;
}

.article img {
    max-width: 500px;
    max-height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

#footer{
    padding: 1ex 1em;
    clear: both;
    border-top: 1px dotted #CCC;
    color: #999;
    text-align: center;
}

/* Buttons on top              */
/* Thanks Planet ROS!          */

.top_button {
    color: grey;
    text-decoration: none;
    text-align: center;
}

.top_button a:active, a:focus, input[type="image"] {
outline: 0;
}

div.top_button {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.top_button img {
    height: 30px;
    width: 30px;
    text-decoration: none;
    text-align: center;
}

.top_button .icon {
    width: 30px;
    height: 30px;
}
